a {
    all: unset;
}

.unset {
    all: unset;
}

.contenu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.username {
    display : flex;
    align-items: center;
}

.bonjour-romain {
    background-color: rgba(100, 98, 98, 0.5);
    border-radius : 10px;
    width: 40vw;
}

.post-image {
    border-radius : 5%;
    width: 50vw;
}

.pfp {
    border-radius: 50%;
    margin-right : 2vw;
}

.image {
    margin-right: 1vw;
}

.pseudo-main {
    border-radius : 10px;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.userinfo {
    margin-top : 1vh;
    margin-left: 1vw;
    display : flex;
}

.description {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 25vw;
}

.like-partage {
    margin-top : 2vh;
    margin-right : 2vw;
    width: 2vw;
    z-index: 301;
}

.like-partage-disposition {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-like {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-partage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-self: flex-end;
}

.inputcom {
    all: unset;
    align-self: left;
    height: 7vh;
    width: 80%;
    border-radius : 0;
    background-color: rgba(41 41 41 / 50%);
    margin: 0;
}

.send {
    all: unset;
    display : flex;
    justify-content: center;
    align-items: center;
    align-self: right;
    transition: background-color 0.5s;
    width: 20%;
    height: 7vh;
    border-radius: 0 0 10px 0;
    background-color: rgb(89, 72, 108);
}

.send:hover {
    transition-duration: 0.5s;
    background-color: rgb(124, 101, 151);
}

.commenter {
    z-index: 1;
    height : 25%;
}