.colonne {
    list-style : none;
    padding: 0 0 0 0; 
    height : 120vh;
    width: 20vw;
    display : flex;
    align-items: start;
    flex-direction: column;
    border-radius : 10px;
    margin-bottom: 5vh;
}

.post {
    background-color: rgba(100, 98, 98, 0.5);
    border-radius : 10px;
    max-width: 20vw;
    bottom : 0
}

.post-image {
    margin : 0;
    display : flex;
    width: 20vw;
    border-radius : 10px;
}

.like-partage {
    margin-top : 5px;
    margin-left : 5px;
    width: 2vw;
    z-index: 301;
}

.post {
    margin-bottom : 2vw;
}

.button-like-partage {
    display: flex;
    all: unset;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.inputcom {
    all: unset;
    align-self: left;
    height: 7vh;
    width: 18vw;
    border-radius : 0 0 0 10px;
    background-color: rgba(41 41 41 / 50%);
    margin: 0;
}

.showaime,.username,.description{
    margin-left: 5px;
}

.username {
    margin-left: 1vw;
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenu {
    background-color: rgba(68, 68, 68,0.5);
    border-radius : 0 0 10px 10px;
}

.pfp {
    border-radius: 50%;
    border-color: BLACK;
    border-width: 10px;
    height: 5vh;
    margin-right: 1vw;
}

.header-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 0 1vh 10px;
}

a {
    all : unset;
    cursor: pointer;
}

.showaime{
    text-overflow: ellipsis;
}

.send {
    all: unset;
    display : flex;
    justify-content: center;
    align-items: center;
    align-self: right;
    transition: background-color 0.5s;
    width: 2vw;
    height: 7vh;
    border-radius: 0 0 10px 0;
    background-color: rgb(89, 72, 108);
}

.send:hover {
    transition-duration: 0.5s;
    background-color: rgb(124, 101, 151);
}

.formulaire {
    display : flex;
    flex-direction: row;
}

.commenter {
    z-index: 1;
    height : 25%;
}

.boutons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.com {
    padding-left : 1vw;
}